body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.container {
    width: 100%;
    margin: 0 auto;
    background: white;
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: rgb(119, 119, 245);
    /* hoặc màu bạn muốn */
}

.swiper {
    width: 1300px !;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 10px;
    border-radius: 10px !important;
}

.animationDropDown {
    opacity: 0;
    transform: translateY(-50px);
    /* bắt đầu lệch lên trên */
    animation: dropDown 2s ease-out forwards;
    transition: opacity 0.8s, transform 0.8s;
}

.animationSlideInLeft {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 1s ease-out forwards;
}

.animationSlideInRight {
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 1s ease-out forwards;
}

.text-sectiontitle {
    font-size: 14px;
    line-height: 22px;
    color: #757693;
}
.text-itemtitle2{
    font: size 24px;
    line-height: 22px;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}