body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.container {
    width: 1600px;
    margin: 0 auto;
    background: white;
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.animationDropDown {
    opacity: 0;
    transform: translateY(-50px);
    /* bắt đầu lệch lên trên */
    animation: dropDown 2s ease-out forwards;

}

.animationSlideIn {
    opacity: 0;
    transform: translateX(-100%);
    /* bắt đầu ngoài màn hình bên trái */
    animation: slideIn 1s ease-out forwards;
}

@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}